/*********************************
General
**********************************/
body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Varela', sans-serif;*/
  text-shadow: 1px 1px 1px #ccc;
}

a {
  text-decoration:none;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(128,128,128, .3);
  margin: 0px auto;
}

/*Set each "page" to the screen dimensions*/
#home {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/movementHeader.png) no-repeat center center;
  background-size: cover;
}

#services {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/Sprockets_Background.jpg) no-repeat center center;
  background-size: cover;
}

#about {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/clock.jpg) no-repeat center center;
  background-size: cover;
}

#contact {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/clock2.jpg) no-repeat center center;
  background-size: cover;
}

/*Add white semi opaque background to page text*/
.content-wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 100px;
}

.content {
  background-color: rgba(255,255,255, .9);
  max-width: 940px;
  margin: 10% auto;
  padding: 60px 5% 60px;
}

#scroll-to-top {
  height: 40px;
  width: 30px;
  padding: 0 7px 0 5px;
  background-color: rgba(128,128,128, .3);
  float: right;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 10;
}

#phone-cta {
  height: auto;
  width: auto;
  padding: 0 7px;
  background-color: rgba(128,128,128, .3);
  float: left;
  position: fixed;
  left: 3%;
  bottom: 33px;
  z-index: 10;
}
#phone-cta i{
  padding-top: 5px;
  padding-right: 3px;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

#map {
  width: 325px;
  height: 250px;
  border-style: solid;
  border-width: medium;
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

#head a {
  color: #fff;
}

#services ul {
  display: block;
  max-width: 380px;
  margin: 0 auto 30px;
}

#contact h2 {
  padding-bottom: 10px;
}
#contact ul {
  display: block;
  max-width: 380px;
  margin: 0 auto 30px;
}
#contact li {
    text-align: center;
    padding-bottom: 7px;
    list-style: none;
}

/*********************************
Header
**********************************/
.logo {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: -5px 0 0;
  font-weight: normal;
}
p {
    text-align: center;
}

/*********************************
Navigation
**********************************/

.profile-photo {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
}

/*********************************
Footer
**********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #4f372d;
}

/*********************************
Colors
**********************************/
/* site body*/
body {
  background-color: #eee;
  color: #000;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #edc951;
}
