/*********************************
General
**********************************/
body {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px #ccc;
}

a {
  text-decoration:none;
  outline: 0;
}

header {
  width: 100%;
  max-height: 90px;
  position: fixed;
  top: 0px;
  background-color: rgba(128,128,128, .3);
  margin: 0px auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: -5px 0 0;
  font-weight: normal;
}
p {
    text-align: center;
}

/*Set each "page" to the screen dimensions*/
#home {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/movementHeader.png) no-repeat center center;
  background-size: cover;
}

#services {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/Sprockets_Background.jpg) no-repeat center center;
  background-size: cover;
}

#about {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/clock.jpg) no-repeat center center;
  background-size: cover;
}

#contact {
  height: 100vh;
  max-width: 100%;
  background: #000 url(../img/clock2.jpg) no-repeat center center;
  background-size: cover;
}

/*Add white semi opaque background to page text*/
.content-wrapper {
  background-color: rgba(255,255,255, .9);
  padding: 5% 5%;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 90px;
}
.content {
  background-color: rgba(255,255,255, .9);
  padding: 5% 5%;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

#scroll-to-top {
  height: 40px;
  width: 30px;
  padding: 0 7px 0 5px;
  background-color: rgba(128,128,128, .3);
  float: right;
  position: fixed;
  right: 3%;
  bottom: 25px;
  z-index: 10;
}

#phone-cta {
  height: auto;
  width: auto;
  padding: 0 7px;
  background-color: rgba(128,128,128, .3);
  float: left;
  position: fixed;
  left: 3%;
  bottom: 33px;
  z-index: 10;
}
#phone-cta i{
  padding-top: 5px;
  padding-right: 3px;
}
.phone-number{
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

#head a {
  color: #fff;
}

#services ul {
  display: block;
  max-width: 380px;
  margin: 0 auto 30px;
}

#contact li {
    text-align: center;
    list-style: none;
}

/*********************************
Header
**********************************/

.logo {
  float:left
  -webkit-filter: invert(1);
  filter: invert(1);
  padding: 10px 20px;
}

/*********************************
Navigation
**********************************/
nav ul{
  float: right;
  max-width: 350px;
}
nav li{
  display: inline-block;
  padding: 20px 5px;
}

/*********************************
Home
**********************************/

/*********************************
Services
**********************************/

/*********************************
About
**********************************/

.profile-photo {
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
}

/*********************************
Contact
**********************************/

#map {
  max-width: 400px;
  border-style: solid;
  border-width: medium;
  display: block;
  margin: 0 auto;
}

/*********************************
Mobile menu
**********************************/

#cssmenu {
    display:none; /*hide menu icon initially*/
}

/*********************************
Footer
**********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding: 30px 0;
  color: #4f372d;
  background-color: lightgrey;
}

/*********************************
Colors
**********************************/
/* site body*/
body {
  background-color: #eee;
  color: #000;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #edc951;
}
