
@media screen and (max-width: 767px) {
  #nav-div {
    font-size: 1.125em;
    margin-left: auto;
    margin-right: auto;
    width:289px;
    list-style-type: none;
  }

  #horizontal-style li {
    display: inline-block;
    padding: 0;
    margin: 0 5px;
    text-align: center;
  }

  #home {
    min-height: 800px;
  }

  #services {
    min-height: 800px;
  }

  #about {
    min-height: 800px;
  }

  #contact {
    min-height: 800px;
  }

}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #nav-div {
    font-size: 1.125em;
    margin: 0 auto;
    width:370px;
    list-style-type: none;
  }

  #horizontal-style li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    text-align: center;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
  }

  /*#title {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }*/
}
/*full desktop*/
@media screen and (min-width: 1024px) {
  #nav-div {
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #horizontal-style li {
    display: inline-block;
    padding: 5px 5px;
    background-color: rgba(128,128,128, .5);
  }

  .logo {
    float:left;
    padding: 5px;
    margin-left: 40px
  }

  .contact-wrapper {
    padding-top: 10px;
  }
  /*#title {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }*/
}
