@media screen and (min-width: 920px) {
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  #title {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
}
